.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

.card {
    border: medium black double;
    justify-self: center;
}

.img {
    width: 20vw;
    height: 55vh;
}

.title {
    text-align: center;
}

.author {
    text-align: center;
}

.category {
    text-align: center;
}

.price {
    text-align: center;
}