.header {
    background-color: lightgray;
    height: 8vh;
    width: 100%;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
    text-decoration: none;
}

a {
    width: 50%;
    display: flex;
    justify-content: center;
}
a > img {
    width: 50%;
    text-align: center;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 3px;
    width: relative;
}