.header {
    background-color: lightgray;
    height: 8vh;
    width: 100%;
}

.nav {
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    height: 6vh;
    align-items: center;
    text-decoration: none;
}


.logoContainer {
    width: 130px;
}

.logoContainer img{
    width: 100%;
    margin: 0.5rem;

}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 3px;
    width: relative;
}

.link:hover{
    color:#40813a;
}